<div ng-controller='WaitlistController'>
	<div id='createParty'>
		Enter Waitlist<br>
		<input ng-model='partyName' type='text' placeholder='name'></input><br>
		<input ng-model='partySize' type='number' placeholder='3'></input><br>
		<button ng-click='createParty(partyName,partySize); partyName = ""; partySize = ""'>Waitlist</button>
	</div>
	<div id='party' ng-repeat="party in parties | filter: filterName">
		<span id='name'>{{party.name}}</span> for 
		<span id='size'>{{party.size}}</span> people <br>
		<span id='time'>{{party.time}}</span>
	</div>
</div>